body {
  background-color: rgb(255, 255, 255);
}
h1 {
   color: rgb(0, 0, 0);
   margin-top: 50px;
   margin-bottom: 10px;
   text-align: center;
}

h2 {

   color: rgb(0, 0, 0);
   text-align: center;
   margin-bottom: 10px;
}

p {
  color: black;
}

.nav{
  background-color: skyblue;
  overflow:hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none; /* Keine Unterlinien */
  padding: 14px 16px;
  font-size: 15px;
}

/* Farbe der Links */
.nav a:hover {
  background-color: white;
  color: black;
}

/* Farbe des aktuellen Link */
.nav a.active {
  background-color: #04AA6D;
  color: white;
}

.image-left img{
	margin-right: 1em;
	left: 0;
  width: 500px;
  height: 300px;
}

.container {
  margin: 1em;
  display: flex;
}